/* GENERAL
   ======= */
*{
	margin: 0px;
	padding: 0px;
   border: 0px;
}

body{
   background-color: #888888;
   align-items: center; 
}

.Padre{
   width: 80%;
   height: auto;
   background-color: white;
   position: relative;
   top: 60px;
   right: ;
   bottom: ;
   left: ;
   margin: auto;
}


.Cortinilla img{
   width: 100%;
   position: relative;
   top: ;
   right: ;
   bottom:  ;
   left: ;
}

/* MENU
   ==== */

/* ADC 
   === */
.ADC{
   width: 100%;
   position: relative;
   top: 5%;
}
   
   .Cabecera{
      
   }   

      .Cabecera .Cortinilla{
            width: 100%;
            position: absolute;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }
   
      .Cabecera .Titulo{
         position: absolute;
         top: 0%;
      }
      
      .Cabecera img.Titulo{
         padding-top: 1.4%;
         padding-left: 2.5%;
      }

      .Cabecera .Coche_cabecera{
         width: 100%;
      }

   .Intro{
      background-color: black;
      color: white;
      height: 100px;
   }    

   .Parte_1{
      height: 400px;
   }

      .Parte_1 .Cortinilla{
            width: 100%;
            position: absolute;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }

      .Parte_1 .Parte_1-Titulo{
         position: absolute;
         color: white; 
         font-weight: bold;
         font-size: 30px;
         padding-top: 50px;
         padding-left: 50px; 
      }
      
      .Parte_1 .Parte_1-Cuerpo{
         position: relative;
         top: 200px;
      }

   .Separador_1{
   
   }

       .Separador_1 .Cortinilla{
            width: 100%;
            position: absolute;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }
      
      .Coche-separador-1{
            /* Imágen de coche en el separador 1 */
            width: 100%;
            height: auto;
      }

      .Separador_1 .Cortinilla_inf{
            width: 100%;
            position: absolute;
            top: ;
            right: ;
            bottom: 0%;
            left: ;
      }
        

   .Parte_2{
      width: 100%; 
      background-color: black;
      color: white;
   }

      .Parte_2 .Parte_2-texto{
         margin: 0px 30px 0px 30px;
      }

      .Parte_2 .Separador{
         height: 100px;
      }

   .Evento_Final{

   }         

      .Evento_Final .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }

      .Evento_Final .Evento_Final-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }

      .Evento_Final .Texto-Evento_Final{
         margin: 0px 30px 0px 30px;
      }
           
      .Evento_Final .Texto-Evento_Final .Separador{
         height: 50px;
      }

      .Evento_Final .Cortinilla_inf{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom: 0%;
            left: ;
      }

   .Separador_2{

   }

      .Separador_2 img{
         width: 100%;
      }
           
   .Desafios{

   }
      
      .Desafios .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }
      
      .Desafios .Desafios-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }

      .Desafios .Desafios-Cuerpo{
         margin: 0px 30px 0px 30px;
      }

      .Desafios .Desafios-Separador{
         height: 20px;
      }

   .Calendario{
      height: 600px;
   }

      .Calendario .Calendario-Titulo{
         height: 100px;
         background-color: black;
         color: white;
         font-weight: bold;
         font-size: 30px;
         position: relative; 
         top: 0%;
         padding-top: 20px;
      }

      .Calendario .Calendario-Cuerpo{
      
      }

   .Ediciones_Pasadas{
   }

      .Ediciones_Pasadas .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }

      .Ediciones_Pasadas .Ediciones_Pasadas-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }

      .Ediciones_Pasadas .Ediciones_Pasadas-Cuerpo{
         height: 950px;
         margin: 0px 30px 0px 30px;
      }

      .Ediciones_Pasadas .Ediciones_Pasadas-Separador{
         height: 50px;
      }

      .Ediciones_Pasadas .Ediciones_Pasadas-Video{
            margin: 100px 100px 100px 325px;
            display:block;
      }

      

/* PARTICIPANTES 
   ============= */
.Participantes{

}

   .Equipos{
   }
   
      .Equipos .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: ;
      }

      .Equipos .Equipos-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }

      .Equipos .Equipos-Cuerpo{
            min-height: 550px;
      }
         .Equipos .Equipos-Cuerpo .Equipos-Lista{
               width: 80%;
               margin: auto;
               align-items: center;
               padding: 10px;
         }


            .list-group-item{
               background-color: black !important;
               font-weight: bold !important;
               font-size: 20px;
               color: white !important;
               padding: 10px 0px 10px 0px !important; 
               margin: 10px; 
            }

            .list-group-item:hover{
               background-color: black !important;
               font-weight: bold !important;
               font-size: 25px;
               color: #db5c24 !important;
               padding: 10px 0px 10px 0px !important; 
            }

/* RECURSOS 
   ======== */
.Recursos{

}

   .Entrenamiento{
      height: 600px; 
   }

      .Entrenamiento .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: 
      }

      .Entrenamiento .Entrenamiento-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }

      .Entrenamiento .Entrenamiento-Cuerpo{
         margin: 0px 30px 0px 30px;
      }

      .Entrenemiento .Entrenamiento-Cortinilla{
         height: 50px;
      }

      .Entrenamiento .Cortinilla_inf{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom: 10%;
            left: ;
      }

   .Separador_3{
   
   }
      .Separador_3 img{
         width: 100%;
         height: auto;
      }

   .Material{
      
   }

      .Material .Titulo-Material{
         height: 150px; 
         font-weight: bold;
         font-size: 30px;
         padding-top: 50px;
      }
      
      .Material .Material-Cuerpo{
         height: 400px;
         background-color: black;
         color: white;
      }

      .Material .Material-Elementos{
         padding: 30px;
         font-size: 50px;
      }
      
      .Material .Material-Elementos:hover{
         color: #db5c24;
         padding: 30px;
         font-size: 50px;
      }

   .Lugar{
      height: 600px;
   }

   .Comunidad{

   }

      .Comunidad .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: 
      }
   
      .Comunidad .Comunidad-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }
      .Comunidad .Comunidad-Cuerpo{
            height: 500px;    
            margin: 0px 30px 0px 30px;
      }

/* ORGANIZADORES
   ============= */
.Organizadores{

}

      .Organizadores .Cortinilla{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom:  ;
            left: 
      }

      .Organizadores .Organizadores-Titulo{
            position: relative;
            color: white; 
            font-weight: bold;
            font-size: 30px;
            padding-top: ;
            padding-left: 30px; 
            top: -125px;
      }

      .Organizadores .Organizadores-Cuerpo{
         height: 500px; 
         margin: 0px 30px 0px 30px;
      }  

      .Organizadores .Cortinilla_inf{
            width: 100%;
            position: relative;
            top: ;
            right: ;
            bottom: 0%;
            left: ;
      }

      .Organizadores .Organizadores-Separador{
         height: 50px;
      }

      .Organizadores .Organizadores-SEAT{
         width: 100px;
         height: auto;
         margin: 30px;
      }

      .Organizadores .Organizadores-CARNET{
         margin: 30px;
      }

/* FOOTER
   ======*/
.Footer{
   width: 100%;
   position: absolute;
   top: calc(1000-500);
   right: ;
   bottom: ;
   left: 50%;
   transform: translate(-50%, 0);
   }

   #Direccion_1{
      /* Carrer Jordi Girona, 31 */
      color: black;
   }

   #Direccion_1:hover{
      /* Carrer Jordi Girona, 31 */
      color: #db5c24;
      font-weight: bold;
   }

   #Direccion_2{
      /* Edifci Til·lers, Barcelona */
      color: black;
   }

   #Direccion_2:hover{
      /* Edifci Til·lers, Barcelona */
      color: #db5c24;
      font-weight: bold;
   }

   #Telefono{
      /* +34 93 413 76 04 */
      color: black;
      font-weight: bold;
   }

   #Telefono:hover{
      /* +34 93 413 76 04 */
      color: #db5c24;
      font-weight: bold;
   }

   #Info-CARNET a{
      /* info@carnetbarcelona */
      color: #db5c24;
   }

   #Info-CARNET a:hover{
      /* info@carnetbarcelona */
      color: #db5c24;
      font-weight: bold;
   }

   #CARNET-Web a{
      /* www.carnet.barcelona */
      color: #db5c24;
   }

   #CARNET-Web a:hover{
      /* www.carnet.barcelona */
      color: #db5c24;
      font-weight: bold;
   }

   .Padre .Footer .Boton_gordo{
   	color: white;
   	background-color: #db5c24;
   }

   #Icono{
   	color: #db5c24;
   }

